/* #FF851B boring old */
/* HSL(27.9, 100%, 55.3%); converted */
/* lch(65% 132 55) this is super max orange outside rgb */

:root {
  --primary-b: 27.9, 100%;
  --primary-l: 55.3%;
  --primary: hsl(27.9, 100%, 55.3%);

  --super-max: lch(65% 132 55);
  --base-measure: 40rem;
}


/* https://type-scale.com/ */
body {
  line-height: 1.65;
}

p {
  margin-bottom: 1.15rem;
  /* color: darkslategray; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2.75rem 0 1.05rem;
  line-height: 1.15;
  font-family: stenciletta, sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

body {
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-style: normal;
  background: whitesmoke;
  color: darkslategray;
  /* can I do a mega death darkness in lch? */
}

@media (prefers-color-scheme: dark) {
  body {
    background: darkslategray;
    color: whitesmoke;
  }
}

a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #b25300;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transition: 0.5s;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #ffa557;
  }
}

@media (color-gamut: p3) {
  @supports (color: lch(65% 132 55)) {
    a :where(:hover, :focus) {
      color: var(--super-max);
    }
  }
}

a:hover {
  text-decoration: none;
  background: lightgray;
}

@media (prefers-color-scheme: dark) {
  a :where(:hover, :focus) {
    background: whitesmoke;
  }
}

.squiggly {
  stroke: var(--primary);
}

@media (color-gamut: p3) {
  @supports (color: lch(65% 132 55)) {
    .squiggly {
      stroke: var(--super-max);
    }
  }
}

.blobby {
  fill: var(--primary);
}

@media (color-gamut: p3) {
  @supports (color: lch(65% 132 55)) {
    .blobby {
      fill: var(--super-max);
    }
  }
}

/*------------------------------------*/
/* #HEADER */
/*------------------------------------*/

header {
  display: grid;

}

header>* {
  grid-row: 1;
  grid-column: 1;
}

header h1 {
  place-self: center;
  z-index: 2;
  color: black;
  border-radius: 2.5rem;
  padding: 0.75rem 1.25rem;
  background: var(--primary);
  margin-block-start: 1rem;
}

/* the p3 is more important than the color scheme? nope I need both */
@media (color-gamut: p3) {

  /* cant use variable in the supports the number doesnt matter */
  @supports (color: lch(65% 132 55)) {
    header h1 {
      background: var(--super-max);
    }
  }
}

header #primary-blob {
  grid-row: 2;
  width: 100%;
  z-index: 5;
  height: 5rem;
  align-self: start;
  mix-blend-mode: multiply;
  fill: var(--primary);
}

@media (color-gamut: p3) {
  @supports (color: lch(65% 132 55)) {
    header #primary-blob {
      fill: var(--super-max);
    }
  }
}

@media (prefers-color-scheme: dark) {
  header #primary-blob {
    mix-blend-mode: color;
  }
}

header #base-blob {
  grid-row: 2;
  height: 10rem;
  width: 100%;
  align-self: end;
  margin-bottom: -1rem;
  z-index: 2;
  fill: whitesmoke;
}

@media (prefers-color-scheme: dark) {
  header #base-blob {
    fill: darkslategray;
  }
}

header .filter-backer {
  backdrop-filter: blur(5px);
  z-index: -2;
}

header .primary-backer {
  background: var(--primary);
  mix-blend-mode: multiply;
  z-index: -1; /* needed for chrome */
}

@media (color-gamut: p3) {
  @supports (color: lch(65% 132 55)) {
    header .primary-backer {
      background: var(--super-max);
    }
  }
}

@media (prefers-color-scheme: dark) {
  header .primary-backer {
    mix-blend-mode: color;
  }
}

header picture {
  grid-row: 1/3;
  width: 100%;
  min-height: 100%;
  max-height: 35rem;
  /* i might be able to do something with clamps or fancy here */
  mix-blend-mode: multiply;
  z-index: -1;
}

@media (prefers-color-scheme: dark) {
  header picture {
    mix-blend-mode: auto;
  }
}

header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

/*------------------------------------*/
/* #MAIN */
/*------------------------------------*/


main {
  max-width: var(--base-measure);
  margin: 0 auto;
}

main :is(h2, h3, p) {
  margin: 1rem;
}

main svg {
  width: 100%;
  max-height: 5rem;
}

/*------------------------------------*/
/* #INVOLVED */
/*------------------------------------*/


#involved {
  width: calc(100% - 2rem);
  max-width: var(--base-measure);
  margin: 0 auto;
}

#involved :is(h4, h5, p, picture) {
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

#involved article {
  display: grid;
}

@media (min-width: 40rem) {
  #involved article {
    grid-template-columns: 12rem 1fr;
    grid-gap: 2rem;
  }
}

#involved .text {
  grid-row: 2;
  grid-column: 1;
}

@media (min-width: 40rem) {
  #involved .text {
    grid-row: 1;
    grid-column: 2;
  }
}


#involved .blobby {
  grid-row: 1;
  grid-column: 1;
  z-index: 10;
  width: 100%;
  mix-blend-mode: multiply;
  /* max-height: 50vw; */
  max-width: 85vw;
  margin-inline: auto;
}

/* @media (prefers-color-scheme: dark) {
  #involved .blobby {
    mix-blend-mode: color;
  }
} */

@keyframes blobber {
  0% {
    transform:
      scale(1, 1) rotate(0deg);
  }

  50% {
    transform:
      scale(0.7, 1.2) rotate(180deg);
  }

  100% {
    transform:
      scale(1, 1) rotate(360deg);
  }
}

.blobby {
  /* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
  animation: blobber 60s linear infinite;
}

#involved picture {
  grid-row: 1;
  grid-column: 1;
  max-width: 50vw;
  mix-blend-mode: multiply;
  /* z-index: 10; */
  padding: 1rem;
  margin-inline: auto;
  aspect-ratio: 1;
}

@media (min-width: 40rem) {
  #involved picture {
    max-width: 8rem;
  }
}

#involved img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#involved .desaturate {
  grid-row: 1;
  grid-column: 1;
  z-index: 5;
}

/*------------------------------------*/
/* #supprt */
/*------------------------------------*/

#support {
  width: min(calc(100% - 2rem), calc(var(--base-measure) - 2rem));
  margin-inline: auto;
  padding-inline: 1rem;
}


/*------------------------------------*/
/* #contact */
/*------------------------------------*/

#contact {
  max-width: calc(var(--base-measure) - 2rem);
  margin-inline: auto;
  margin-block-end: 3rem;
  padding-inline: 1rem;

}

#contact a {
  color: black;
  padding: 0.75rem 1.25rem;
  border-radius: 2.5rem;
  background: var(--primary);
}

@media (color-gamut: p3) {
  @supports (color: lch(65% 132 55)) {
    #contact a {
      background: var(--super-max);
    }
  }
}

#contact a:hover {
  background: hsl(var(--primary-b), calc(var(--primary-l) - 20%));
}

@media (color-gamut: p3) {
  @supports (color: lch(65% 132 55)) {
    #contact a:hover {
      background: lch(45% 132 55);
    }
  }
}

/*------------------------------------*/
/* #FOOTER */
/*------------------------------------*/


footer {
  display: grid;
  background: whitesmoke; /* needed for the mix blend mode */
}

@media (prefers-color-scheme: dark) {
  footer {
    background: darkslategray;
  }
}

footer :is(h4, a) {
  max-width: var--(base-measure);
  margin: 0 auto;
  display: block;
  /* needed for the a */
  grid-row: 2;
  grid-column: 1;
}

footer svg {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  max-height: 5rem;
  align-self: end;
  mix-blend-mode: multiply;
  fill: var(--primary);
}

@media (color-gamut: p3) {
  @supports (color: lch(65% 132 55)) {
    footer svg {
      fill: var(--super-max);
    }
  }
}

@media (prefers-color-scheme: dark) {
  footer svg {
    mix-blend-mode: color;
  }
}

footer .footer-backer {
  grid-row: 2;
  grid-column: 1;
  mix-blend-mode: multiply;
  background: var(--primary);
  z-index: 2;
}

@media (color-gamut: p3) {
  @supports (color: lch(65% 132 55)) {
    footer .footer-backer {
      background: var(--super-max);
    }
  }
}

@media (prefers-color-scheme: dark) {
  footer .footer-backer {
    mix-blend-mode: color;
  }
}

footer a {
  color: whitesmoke;
  z-index: 10;
  margin: 2rem auto;
  font-size: 1.5rem;
  transition: 1s;
}

@media (min-width: 40rem) {
  footer a {
    font-size: 1.953rem;
  }
}

footer a:hover {
  color: darkslategray;
}

footer picture {
  width: 100%;
  grid-row: 1/3;
  grid-column: 1;
  z-index: 1;
  max-height: 35rem;
  mix-blend-mode: multiply;
}

footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

picture {
  filter: saturate(0);
}

/*------------------------------------*/
/* #WAVES */
/*------------------------------------*/

.waves {
  width: 100%;
  height: 15vh;
  margin-bottom: -0.5rem; /* seems like you could get rid of this better */
  /*Fix for safari gap*/
  min-height: 5rem;
  max-height: 10rem;
}

.orange-waves {
  mix-blend-mode: multiply;
}
@media (prefers-color-scheme: dark) {
  .orange-waves {
    mix-blend-mode: color;
  }
}

.orange-waves__header {
  grid-row: 2;
  align-self: start;
  /* rotate: 180deg; */
  transform: rotate(180deg);
  z-index: -1;
}

.orange-waves__footer {
  grid-row: 1;
  align-self: end;
  margin-block-end: 0;
}

.white-waves {
  grid-row: 2;
  align-self: end;
}


/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

/* this feels a little sloppy having the negative to positive */
/* should be zero to shat it needs? */
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 2.5rem;
    min-height: 2.5rem;
  }
}


.white-waves .wave__one {
  fill: rgba(245,245,245,1);
}

@media (prefers-color-scheme: dark) {
  .white-waves .wave__one {
    fill: rgba(47, 79, 79,1);
  }
}

.white-waves .wave__point-seven {
  fill: rgba(245,245,245,0.7);
}

@media (prefers-color-scheme: dark) {
  .white-waves .wave__point-seven {
    fill: rgba(47, 79, 79,0.7);
  }
}

.white-waves .wave__point-five {
  fill: rgba(245,245,245,0.5);
}

@media (prefers-color-scheme: dark) {
  .white-waves .wave__point-five {
    fill: rgba(47, 79, 79,0.5);
  }
}

.white-waves .wave__point-three {
  fill: rgba(245,245,245,0.3);
}

@media (prefers-color-scheme: dark) {
  .white-waves .wave__point-three {
    fill: rgba(47, 79, 79,0.3);
  }
}

.stroke-waves {
  fill: none;
  stroke: orange;
}

.parallax-stroke {
  animation: stroke-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

@keyframes stroke-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}