$primary: #39CCCC;
$base-measure: 40rem;

// https://type-scale.com/
body {
    line-height: 1.65;
  }
  
  p {margin-bottom: 1.15rem;}
  
  h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1.05rem;
    line-height: 1.15;
    font-family: stenciletta, sans-serif;
  }
  
  h1 {
    margin-top: 0;
    font-size: 3.052em;
  }
  
  h2 {font-size: 2.441em;}
  
  h3 {font-size: 1.953em;}
  
  h4 {font-size: 1.563em;}
  
  h5 {font-size: 1.25em;}
  
  small, .text_small {font-size: 0.8em;}

body {
    width: 100%;
    margin: 0;
    font-size: 20px;
    font-family: freight-big-pro, serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: grid;
    max-height: 35rem;
    // max-height: 85rem;
    overflow-y: hidden;
    grid-template-rows: 10rem 9rem; // guess and check

    @media (min-width: 40rem) {
        grid-template-rows: 12rem 15rem;
    }
    
    @media (min-width: 60rem) {
        grid-template-rows: 15rem 20rem;
    }

    #primary-blob {
        width: 100%;
        grid-row: 2;
        grid-column: 1;
        mix-blend-mode: multiply;
        z-index: 5;
        height: 5rem;

        @media (min-width: 40rem) {
            height: 10rem;
        }
    }

    #base-blob {
        grid-row: 2;
        grid-column: 1;
        height: 10rem;
        width: 100%;
        align-self: end;
        margin-bottom: -1rem; // hide the base
    }

    h1 {
        max-width: $base-measure;
        font-family: stenciletta, sans-serif;
        font-weight: 400;
        font-style: normal;
        grid-row: 1;
        grid-column: 1;
        color: whitesmoke;
        text-align: center;
        z-index: 10;
/*         margin: 1rem auto;
        @media (min-width: 40rem) {
            margin: 2rem auto;
        } */

        place-self: center;
    }

    .primary-backer {
        grid-row: 1;
        grid-column: 1;
        z-index: -1;
        mix-blend-mode: multiply;
        // backdrop-filter: blur(5px);
        // oddly above 30 seems to go back to less
        // and I cant do this with a color background
        max-height: 15rem;
        z-index: 5;
    }

    .filter-backer {
        backdrop-filter: blur(5px);
        grid-row: 1;
        grid-column: 1;
        z-index: -2;
    }

    img {
        grid-row: 1/3;
        grid-column: 1;
        // z-index: -3;
        justify-self: center;
        width: 100%;
        // height: 100%; // this breaks things

        // full width of the image
/*         @media (min-width: 1920px) { 
            width: 1920px;
        } */
    }

    .desaturate {
        grid-row: 1/3;
        grid-column: 1;
        z-index: 3;
    }
}

main {
    max-width: $base-measure;
    margin: 0 auto;

    h2, h3, p {
        margin: 1rem;
    }

    svg {
        width: 100%;
        max-height: 5rem;
    }
}

#involved {
    max-width: $base-measure;
    margin: 0 auto;

    article {
        display: grid;
        grid-template-columns: 12rem 1fr;
        grid-gap: 2rem;

        .text {
            grid-row: 1;
            grid-column: 2;
        }

        svg {
            grid-row: 1;
            grid-column: 1;
            z-index: 10;
            mix-blend-mode: multiply;
            width: 100%;
        }

        img {
            grid-row: 1;
            grid-column: 1;
            max-width: 8rem;
            mix-blend-mode: multiply;
            // z-index: 10;
            border-radius: 50%;
            padding: 1rem;
        } // img

        .desaturate {
            grid-row: 1;
            grid-column: 1;
            z-index: 5;
        }
    } // article
} // #involved

footer {
    display: grid;

    h4, a {
        max-width: $base-measure;
        margin: 0 auto;
        display: block; // needed for the a
        grid-row: 2;
        grid-column: 1;
    }

    svg {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        max-height: 5rem;
    }

    .primary-backer {
        grid-row: 2;
        grid-column: 1;
    }

    a {
        color: whitesmoke;
        z-index: 10;
        margin: 2rem auto;
        font-size: 1.953em;
        transition: 1s;
    }

    a:hover {
        color: darkslategray;
    }
}

.primary-backer {
    background: $primary;
}

.desaturate {
    background: white; // actual white not whitesmoke on purpose
    mix-blend-mode: color;
}